<div class="cover" #cover (click)="closeModal()"></div>
<div class="modal" #modal>
    <div class="modal-item">logout</div>
    <div class="modal-item">settings</div>
    <div class="modal-item" (click)="onGetSavedCities()">saved</div>
    <div class="modal-item" (click)="openSearch()">search</div>
</div>

<form class="search-form" #search>
    <span>For a more precise search, please enter the country code, example: Rome, It</span>
    <input class="search-input" type="text" [formControl]="city">
    <button class="search-btn" type="button" (click)="onSearchCity()">search</button>
</form>

<div class="saved" #saved>
    <div class="saved-list">
        @for (city of cities; track city.name){
        <div class="saved-item">
            <span>{{city.name}}</span>
            <button>
                <img src="icons/delete-white.svg">
            </button>
        </div>
        }
    </div>
    <button class="saved-btn">save current city</button>
</div>

<div class="footbar">
    <button (click)="openModal()"><img src="icons/menu-white.svg"></button>
</div>