.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border: 1px solid black;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

.main-weather {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  text-align: center;
}

.temperature {
  border: 1px solid black;
  margin-top: 5rem;
  font-size: 8rem;
}
