.top-status-bar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.icon-img {
  vertical-align: middle;
  width: 30px;
}

.weekday {
  margin: 0.5rem;
  font-size: 2rem;
}

.opt-bar {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0.5rem;
}

.status-img-container {
  margin-top: 2rem;
}

.status-img {
  width: 15rem;
  height: 15rem;
}

.main-weather {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.temperature {
  font-size: 8rem;
}

.city {
  font-size: 2rem;
}

.description {
  font-size: 1rem;
  ;
}
